# --- Archivos temporales de Terraform ---
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# --- Variables sensibles ---
terraform.tfvars
*.tfvars

# --- Archivos del sistema ---
.DS_Store
Thumbs.db